<div class="container">
    <div class="row ">
        <div class="col-md-12">
            <div class="navbar-collapse collapse ">
                <ul id="menu-top" class="nav navbar-nav navbar-right">
                    <li><a href class="menu-top-active">INÍCIO</a></li>
                   
                    <li><a href >FORMS</a></li>
                    <li>
                        <a href class="dropdown-toggle" id="ddlmenuItem" data-toggle="dropdown">UI ELEMENTS <i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="ddlmenuItem">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href >UI ELEMENTS</a></li>
                             <li role="presentation"><a role="menuitem" tabindex="-1" href >EXAMPLE LINK</a></li>
                        </ul>
                    </li>
                    <li><a href >TABS & PANELS</a></li>
                     <li><a href >TABLES</a></li>
                    <li><a href >BLANK PAGE</a></li>

                </ul>
            </div>
        </div>

    </div>
</div>